<div>
    <ul>
        <li class="id">ID</li>
        <li *ngIf="type == 'concurso'" class="name">Cargo</li>
        <li *ngIf="type == 'concurso'" class="name">Empresa</li>
        <li *ngIf="type == 'gabarito'" class="name">Prova</li>
        <li *ngIf="type == 'candidato'" class="name">Nome</li>
        <li *ngIf="type == 'candidato'" class="name">CPF</li>
        <li class="date">Data de Criação</li>
    </ul>
    <ng-container *ngFor="let option of data">
        <app-admin-list-option [data]="option" [type]="type" (event)="goToTab(option.id)"></app-admin-list-option>
    </ng-container>
</div>