@import '../../../../../../../styles/colors.scss';

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 32px 0;
        display: flex;
        align-self: flex-start;
        label {
            margin-right: 32px;
        }
        select {
            width: 72px;
            appearance: none;
            text-align: center;
            border: 0;
            outline: none;
            border-bottom: 1px solid $light-grey;
            font-size: 20px;
            font-weight: 500;
            &:hover, &:active {
                appearance: none;
            }

        }
        option {
            border: 0;
            outline: none;
            &:hover{
                background-color: $light-grey;
                transition: 0.2s;
            }
        }
    }
    textarea {
        width: 720px;
        padding: 10px;
        margin-bottom: 32px;
        border: 1px solid $light-grey;
        border-radius: 8px;
        box-shadow: 0 0 6px $light-grey;
        resize: none;
        outline: none;
        transition: 0.2s;
        &:hover, &:focus {
            border: 1px solid $light-grey;
            transition: 0.2s;
        }
    }
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
}