@import '../../../../../../../styles/colors.scss';

section {
    width: 100%;
    margin: 48px 12px;
    padding: 24px;
    display: flex;
    gap: 48px;
    position: relative;
    border: 2px solid $light-grey;
    border-radius: 8px;
    h5 {
        position: absolute;
        top: -12px;
        background-color: white;
        padding: 0 6px;
    }
}