@import './../../../../styles/colors.scss';

button {
    padding: 2px 1px;
    background-color: inherit;
    border: 0;
    font-size: 14px;
    letter-spacing: 1px;
    border-bottom: 1px $black solid;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
}