@import './../../../../styles/colors.scss';

button {
    padding: 2px 1px;
    background-color: inherit;
    border: 0;
    font-size: 13px;
    letter-spacing: 1.2px;
    border-bottom: 1px $black solid;
    color: inherit;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        opacity: 0.2;
    }
}