<main>
    <section>
        <div id="novidades-container">
            <article>
                <div>
                    <h2>Novidades!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae, facere illo deserunt
                        dolorem hic quaerat id quae voluptatum ad, dignissimos in obcaecati architecto quod harum saepe
                        neque odio! Eligendi!</p>
                    <p>10 de agosto de 2023</p>
                </div>
            </article>
            <article>
                <div>
                    <h2>Novidades!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae, facere illo deserunt
                        dolorem hic quaerat id quae voluptatum ad, dignissimos in obcaecati architecto quod harum saepe
                        neque odio! Eligendi!</p>
                    <p>10 de agosto de 2023</p>
                </div>

            </article>
            <article>
                <div>
                    <h2>Novidades!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae, facere illo deserunt
                        dolorem hic quaerat id quae voluptatum ad, dignissimos in obcaecati architecto quod harum saepe
                        neque odio! Eligendi!</p>
                    <p>10 de agosto de 2023</p>
                </div>

            </article>
            <ul id="news-slider">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <section id="news">
        <div>
            <h2>Notícias</h2>
            <hr>
            <ul>
                <li><a href="">PREFEITURA DE MORRINHOS/GO OFERECE OPORTUNIDADE DE NÍVEIS SUPERIOR E MÉDIO</a></li>
                <li><a href="">SEGUNDA CHAMADA DO CONCURSO PM-GO JÁ ESTÁ DISPONÍVEL</a></li>
                <li><a href="">SAPO IMPLEMENTA MELHORIAS EM SEU SISTEMA DE AVALIAÇÃO</a></li>
                <li><a href="">CONFIRA AS NOVAS ATUALIZAÇÕES DE POLÍTICA DE SEGURANÇA DA SAPO</a></li>
                <li><a href="">PGE-GO ABRE NOVAS VAGAS PARA PROCURADOR</a></li>
            </ul>
        </div>
    </section>
</main>