$white: #fff;
$black: #000;

$light-grey: #ededed;

//Blue pallet
$blue-default: #3457D5;
$blue-light: #6495ED;
$blue-dark: #2a52be;

//Red pallet
$red-default: #f20202;

//Green pallet
$green-light: #28e060;

//Yellow pallet
$yellow-dark: #f2ea02;