@import './colors.scss';

*::-webkit-scrollbar {
    width: 8px;
}
  
*::-webkit-scrollbar-track {
    background: #edeced;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #edeced;
    border-radius: 20px;
    border: 2px solid #c1c1c1;
}

section.form-section {
    width: calc(100% - 16px);
    margin: 48px 8px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    position: relative;
    border: 2px solid $light-grey;
    border-radius: 8px;
    h5.form-section-header {
        position: absolute;
        top: -12px;
        background-color: white;
        padding: 0 6px;
    }
}