<footer>
    <div>
        <img src="../../../../assets/imgs/icons/logo.png" alt="">
    </div>
    <hr>
    <p id="contatos">Contatos</p>
    <section>
        <button><img src="../../../../assets/imgs/icons/github-logo-silhouette-in-a-square.png" alt=""></button>
        <button><img src="../../../../assets/imgs/icons/linkedin-logo.png" alt=""></button>
        <button><img src="../../../../assets/imgs/icons/new-email-button.png" alt=""></button>
    </section>
    <p id="lorem">© Copyright: SAPO - 2023.</p>
</footer>