@import './../../../../styles/colors.scss';

header {
    width: 100%;
    padding: 32px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue-default;
    div {
        display: flex;
        img {
            width: 36px;
            height: 36px;
            margin-right: 16px;
        }
        h3 {
            color: white
        }
    }
}