@import './../../../../styles/colors.scss';


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 97, 141, 1) 100%, rgba(0, 212, 255, 1) 100%);

    div {
        align-items: center;
        display: flex;
        flex: 1;
        img {
            width: 50px;
            height: 40px;
            margin-right: 2em;
            margin-left: -1em;
        }

        h3 {
            color: #953a42;
            text-align:center;
            font-size: 40px;
            font-family: 'Zen Kurenaido', sans-serif;
            margin-bottom: 6px;
        }
    }

    nav {
        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 32px;
                color: black;
            }
        }
    }
}