<section class="form-section">
    <h5 class="form-section-header">
        Detalhes
    </h5>
    <app-input label="Cargo" [value]="cargo"></app-input>
    <app-input label="Empresa" [value]="nome"></app-input>
</section>
<section class="form-section">
    <h5 class="form-section-header">
        Vagas
    </h5>
    <app-input label="Vagas p/ Pessoas com Deficiência" [value]="vagasPd"></app-input>
    <app-input label="Vagas p/ Ampla Concorrência" [value]="vagasAc"></app-input>
</section>
<section class="form-section">
    <h5 class="form-section-header">
        Datas
    </h5>
    <app-input label="Homologado em:" [value]="homologacao"></app-input>
    <app-input label="Criado em:" [value]="createdAt"></app-input>
</section>