<ul (click)="submit()">
    <li class="id">
        {{data.id}}
    </li>
    <li *ngIf="type == 'concurso'" class="name">
        {{data.cargo}}
    </li>
    <li *ngIf="type != 'gabarito'" class="name">
        {{data.nome}}
    </li>
    <li *ngIf="type == 'gabarito'" class="name">
        {{data.tipo}}
    </li>
    <li *ngIf="type == 'gabarito'" class="name">
        
    </li>
    <li *ngIf="type == 'candidato'" class="name">
        {{data.cpf}}
    </li>
    <li class="date">
        {{data.createdAt}}
    </li>
</ul>